<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome to Fligoods Liquidation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    	<table style="width:100%">
    		<tr>
    			<td>
    				<div> 
			             Hello <span th:text="${user.lastName}">User</span>,
					</div>			        
			        <p>You have been successfully registered with <strong>Flipgoods Liquidation</strong>.</p>			        
			        <p>To active your account, Please <a target="_blank" th:href="@{__${activationLink}__}"> click here.</a></p>			      
			        <p>Your login details are as below.</p>			      
			      	<p> 
			      		<strong>Username :</strong> <span th:text="${user.userName}">John</span> <br/>
					    <strong>Password :</strong> <span th:text="${user.password}">Password</span>
					</p>
    			</td>
    		</tr>
    		<tr>
    			<td>
    				Regards, <br/>
    				Flipgoods Team.
    			</td>
    		</tr>
    	</table>
    </body>
</html>